.story-header {
    background-color: rgba(41, 132, 189, 0.496);
    padding: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.story-content {
    margin: 20px 0;
}

.story-content img {
    max-width: 100%;
    height: auto;
}

.back-button {
    margin-top: 20px;
}